# Dependencies
node_modules/

# Build outputs
dist/
build/
.output/
.vinxi/
.turbo/
.tanstack/

# Environment
.env
.env.local
.env.*
.env.*.local
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Docker
docker/data/

# Misc
*.tsbuildinfo

# Pnpm
.pnpm-store/
.pnpm-store/**
**/.pnpm-store/
**/.pnpm-store/**
